{% extends "base.html" %}
{% block content %}
<form method="POST">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
    </div>
    <div class="mb-3">
        <label for="fname" class="form-label">First Name</label>
        <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter first name" required>
      </div>
      <div class="mb-3">
        <label for="lname" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lname" name="lname" placeholder="Enter last name" required>
      </div>
      <div class="mb-3">
        <label for="password1" class="form-label">Password</label>
        <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter password" required>
      </div>
    <div class="mb-3">
      <label for="password2" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm password" required>
    </div>
    <div class="mb-3">
        <label for="access-code" class="form-label">Access code</label>
        <input type="password" class="form-control" id="access-code" name="access-code" placeholder="Enter access code" required>
      </div>
    <button type="submit" class="btn btn-primary" style="margin-bottom: 20px">Submit</button>  
  </form>
{% endblock %}