{% extends "base.html" %}
{% block content %}
<div class="verification-text" style="">
    <p><b>Yair Gritzman</b> is requesting <b>15</b> Hours from <b>Report That Pantry</b>. </p>
    <p>Description of activity: <b>cutting the trees</b></p>
    <p>Is this information correct?</p>
</div>
<form method="POST">
    <!--
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <div class="form-check">
        <input class="form-check-input" type="radio" name="isValid" id="yes" value="yes" required>
        <label class="form-check-label" for="yes">
          Yes
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="isValid" id="no" value="no">
        <label class="form-check-label" for="no">
          No
        </label>
      </div>
      <div class="mb-3">
        <label for="notes" class="form-label">Notes (if no, how many hours did they complete?)</label>
        <input type="text" class="form-control" id="notes" name="notes">
      </div>
      
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}